.pie-pagina-tahm {
  background-color: black;
  color: white;
  padding-top: 60px;
  border-top: 3px solid white;
  margin-top: 50px;
}
.pie-pagina-tahm .contenedor-columnas {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px 60px 40px;
  flex-wrap: wrap;
  gap: 40px;
}
.pie-pagina-tahm .columna-footer {
  flex: 1;
  min-width: 250px;
  text-align: left;
}
.pie-pagina-tahm .titulo-footer {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 2px;
  color: var(--color-primary);
  border-bottom: 2px solid rgba(255, 0, 0, 0.3);
  display: inline-block;
  padding-bottom: 5px;
}
.pie-pagina-tahm .columna-footer p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15px;
  color: white;
}
.pie-pagina-tahm .detalle {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #bbbbbb;
}
.pie-pagina-tahm .promo-texto {
  font-weight: normal !important;
  color: #bbbbbb !important;
  margin-bottom: 20px !important;
}
.pie-pagina-tahm .lista-limpia {
  list-style: none;
  padding: 0;
}
.pie-pagina-tahm .lista-limpia li {
  margin-bottom: 12px;
}
.pie-pagina-tahm .lista-limpia a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}
.pie-pagina-tahm .lista-limpia a:hover {
  color: #ff0000;
  padding-left: 8px;
}
.pie-pagina-tahm .redes-sociales {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.pie-pagina-tahm .link-social {
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ff0000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pie-pagina-tahm .link-social:hover {
  background-color: white;
  color: var(--color-primary);
  transition: 0.5s ease;
}

.pie-pagina-tahm .barra-copyright {
  background-color: #080808;
  padding: 25px 40px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.pie-pagina-tahm .barra-copyright p {
  font-size: 12px;
  color: #555555;
  margin: 0;
  letter-spacing: 1px;
}
/*RESPONSIVE*/
/*Móviles*/
@media (max-width: 768px) {
  .pie-pagina-tahm .contenedor-columnas {
    text-align: center;
  }
  .pie-pagina-tahm .columna-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
