/*=================LISTA-PEDIDO====================*/

body {
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding-bottom: 50px;
}

.tk-page-container {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tk-header-icon {
    background-color: #42e3f0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.tk-card {
    background-color: #fffaf8;
    width: 100%;
    min-height: 520px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.tk-main-title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    font-weight: normal;
}

.tk-list-content {
    flex-grow: 1;
}

.tk-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 15px;
}

.tk-dots {
    flex-grow: 1;
    border-bottom: 2px dotted #888;
    margin: 0 8px;
    position: relative;
    top: -4px;
}

.tk-actions {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.tk-total-row {
    margin-top: 30px;
    font-size: 18px;
}

.tk-confirm-sheet {
    border: 2px solid #42e3f0;
    justify-content: center;
    text-align: center;
}

.tk-confirm-body p {
    font-size: 22px;
    margin: 10px 0;
}

.tk-order-id {
    font-size: 85px;
    font-weight: 900;
    font-style: italic;
    margin: 20px 0 0 0;
}

.tk-footer-nav {
    display: flex;
    width: 100%;
    margin-top: 25px;
    gap: 15px;
    align-items: center;
}

.tk-between {
    justify-content: space-between;
}

.tk-btn-action {
    background-color: #e62e2e;
    color: white;
    border: none;
    padding: 15px;
    flex-grow: 1;
    font-size: 18px;
    cursor: pointer;
}

.tk-btn-rect {
    background-color: #e62e2e;
    color: white;
    border: none;
    padding: 15px 10px;
    width: 48%;
    font-size: 15px;
    cursor: pointer;
}

.tk-circle-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tk-danger { background-color: #ff0000; color: black; }
.tk-info { background-color: #42e3f0; color: black; }
