<header class="header-main">
  <div class="nav-section left">
    <button class="icon-btn" id="btn-menu" (click)="nav.toggle()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>

  <div class="nav-section center">
    <a routerLink="/" class="logo-container">
      <img src="assets/img/logix.png" alt="Tahm King Logo" class="logo-img">
    </a>
  </div>

  <div class="nav-section right">
    <a routerLink="/tipo-pedido" class="btn-order">PEDIR YA</a>
    <a routerLink="/login" class="icon-btn" id="btn-user">
      <i class="fa-regular fa-user"></i>
    </a>
  </div>
</header>
