body {
    background-color: #c5a2a2; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.main-container {
    width: 380px;
}

.tabs {
    display: flex;
}

.tab {
    padding: 12px 20px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    flex: 1;
    border: none;
    outline: none;
}

.active {
    background-color: #d9d9d9;
    color: #000;
}

.inactive-dark {
    background-color: #8b2525;
    color: #000;
}

.form-card {
    background-color: #d64641; 
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 380px;
}

#auth-form {
    width: 100%;
}

.icon-circle {
    width: 55px;
    height: 55px;
    border: 1.5px solid black;
    border-radius: 50%;
    margin: 0 auto 35px auto;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.user-head {
    width: 16px;
    height: 16px;
    border: 1.5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
}

.user-body {
    width: 32px;
    height: 20px;
    border: 1.5px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: -8px;
}

.inputs-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo para los inputs reales */
.input-field {
    background-color: #d9d9d9;
    height: 45px;
    border: none;
    padding-left: 15px;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box; /* Para que el padding no ensanche el input */
    outline: none;
}

.input-field::placeholder {
    color: #444;
    opacity: 1;
}

.button-container {
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: #d9d9d9;
    padding: 12px 25px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    min-width: 150px;
}

.hidden {
    display: none;
}