/* ================= VARIABLES ================= */
:root {
    --bg-dark: #1A1B1D;
    --header-black: #000000;
    --tahm-red: #ff0000; /* El rojo para iconos y botones */
    --text-white: #ffffff;
}

/* ================= GLOBAL ================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-dark);
    font-family: 'Poppins', sans-serif;
}

/* ================= HEADER ================= */
.header-main {
    background-color: var(--header-black);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.nav-section {
    display: flex;
    align-items: center;
    flex: 1;
}

.nav-section.center {
    justify-content: center;
}

.nav-section.right {
    justify-content: flex-end;
    gap: 40px;
}

/* BOTONES DE ICONO (Barras y Usuario) */
.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    padding: 10px;
}

.icon-btn i {
    color: white; /* Color rojo para los iconos */
    font-size: 45px;        /* Tamaño grande para que destaquen */
}

.icon-btn:hover {
    transform: scale(1.15);
}

/* LOGO (Centro) */
.logo-container {
    width: 800px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-container:hover {
    transform: scale(1.05);
}

/* BOTÓN PEDIR YA */
.btn-order {
    background-color: transparent;
    color: var(--text-white);
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 12px 30px;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid var(--text-white);
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-order:hover {
    background-color: var(--tahm-red);
    border-color: var(--tahm-red);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.3);
}