* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.barra-superior-gris {
    background-color: #635f5f;
    
    height: 200px;                 
    
    display: flex;
    align-items: center;           
    
    justify-content: space-between;
    padding: 0 40px;               
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}

.grupo-izquierda, .grupo-derecha {
    display: flex;
    align-items: center;
    gap: 25px;
    flex: 1; 
}

.grupo-derecha {
    justify-content: flex-end; 
}

.grupo-centro {
    display: flex;
    justify-content: center;
}

.boton-rectangular-rojo {
    background-color: #ff2a2a;
    color: white;
    text-decoration: none;
    
    padding: 18px 40px;       
    
    font-size: 20px;          
    font-weight: bold;
    
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: transform 0.2s;
}

.boton-rectangular-rojo:hover {
    transform: scale(1.05);
}

.boton-redondo-menu, .boton-redondo-usuario {
    width: 70px;              
    height: 70px;
    
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.boton-redondo-menu span, .boton-redondo-usuario span {
    font-size: 35px;
}

.circulo-logo {
    width: 110px;
    height: 110px;
    
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border: 4px solid #504d4d;
}

.imagen-del-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-usuario {
    display: flex;
    align-items: center;
    position: relative; 
}

.etiqueta-puntos-rosa {
    background-color: #f08c8c; 
    color: white;
    
    padding: 0 20px 0 20px;    
    height: 45px;              
    font-size: 18px;           
    font-weight: bold;
    
    display: flex;
    align-items: center;
    margin-right: -25px;
    padding-right: 35px;       
    z-index: 1;   
    border-radius: 10px 0 0 10px;
}

.boton-redondo-usuario {
    position: relative;
    z-index: 2;                
    border: 2px solid #fff;
}