<nav class="menu-categories">
    <button class="cat-btn active">Entrantes</button>
    <button class="cat-btn">Hamburguesas</button>
    <button class="cat-btn">Hot Dogs</button>
    <button class="cat-btn">Bebidas</button>
    <button class="cat-btn">Postres</button>
    <button class="cat-btn">Ofertas</button>
</nav>

<main class="menu-list">

    <article class="menu-item">
        <img src="../img/entrantes/e1.webp" class="item-img" alt="Producto">

        <div class="item-info">
            <h2 class="item-title">Nombre del producto</h2>
            <p class="item-desc">Descripción breve del producto, ingredientes o info relevante.</p>

            <div class="item-tags">
                <span class="tag"></span>
                <span class="tag"></span>
                <span class="tag"></span>
            </div>
        </div>

        <div class="item-price">
            <span class="price">12,99€</span>
        </div>
    </article>

    <article class="menu-item">
        <img src="../img/entrantes/e3.jpg" class="item-img" alt="Producto">
        <div class="item-info">
            <h2 class="item-title">Nombre del producto</h2>
            <p class="item-desc">Descripción breve del producto, ingredientes o info relevante.</p>
            <div class="item-tags">
                <span class="tag"></span>
                <span class="tag"></span>
                <span class="tag"></span>
            </div>
        </div>
        <div class="item-price">
            <span class="price">12,99€</span>
        </div>
    </article>

</main>