<footer class="pie-pagina-rosa">
    <div class="contenedor-columnas">

        <div class="columna-footer">
            <h3 class="titulo-footer">HORARIOS</h3>
            <p>Lunes a Jueves</p>
            <span class="detalle">12:00 PM - 11:00 PM</span>
            <p>Viernes y Sábados</p>
            <span class="detalle">12:00 PM - 01:00 AM</span>
            <p>Domingos</p>
            <span class="detalle">12:00 PM - 12:00 AM</span>
        </div>

        <div class="columna-footer">
            <h3 class="titulo-footer">LEGAL</h3>
            <ul class="lista-limpia">
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Cookies</a></li>
                <li><a href="#">Alergenos</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
            </ul>
        </div>

        <div class="columna-footer">
            <h3 class="titulo-footer">SÍGUENOS</h3>
            <p>No te pierdas nuestras promos.</p>
            <div class="redes-sociales">
                <a href="#" class="link-social">Instagram</a>
                <a href="#" class="link-social">Facebook</a>
                <a href="#" class="link-social">TikTok</a>
            </div>
        </div>
    </div>

    <div class="barra-copyright">
        <p>@COPYRIGHT 2024 TAHM KING - Todos los derechos reservados.</p>
    </div>
</footer>