<header class="header-main">
    <div class="nav-section left">
        <button class="icon-btn" id="btn-menu">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <div class="nav-section center">
        <a href="index.html" class="logo-container">
            <img src="img/logix.png" alt="Tahm King Logo" class="logo-img">
        </a>
    </div>

    <div class="nav-section right">
        <a href="pages/tipo_pedido.html" class="btn-order">PEDIR YA</a>
        <a href="pages/login.html" class="icon-btn" id="btn-user">
            <i class="fa-regular fa-user"></i>
        </a>
    </div>
</header>