<input type="checkbox" id="sidebar-active" class="checkbox-menu-oculto">

<aside class="menu-lateral">

    <header class="sidebar-header">
        <label for="sidebar-active" class="boton-cerrar">
            <span>&#10005;</span>
        </label>
        <h2>Menú</h2>
    </header>

    <nav class="sidebar-nav">
        <ul>
            <li><a href="../index.html"><span class="icono">&#127968;</span> Inicio</a></li>
            <li><a href="#"><span class="icono">&#127828;</span> Carta</a></li>
            <li><a href="../pages/ofertas.html"><span class="icono">&#127991;</span> Ofertas</a></li>
            <li><a href="../pages/contacto.html"><span class="icono">&#128222;</span> Contacto</a></li>
            <li><a href="../pages/historial.html"><span class="icono">&#9203;</span> Historial</a></li>
            <li><a href="../pages/nosotros.html"><span class="icono">&#8505;</span> Nosotros</a></li>
            <li><a href="../pages/login.html"><span class="icono">&#128100;</span> Perfil</a></li>
        </ul>
    </nav>

    <footer class="sidebar-footer">
        <p>Síguenos en:</p>
        <div class="sidebar-social-icons">
            <a href="#" class="social-icon insta">&#128247;</a>
            <a href="#" class="social-icon x-twitter">&#120143;</a>
            <a href="#" class="social-icon facebook">&#10224;</a>
        </div>
    </footer>
</aside>

<label for="sidebar-active" class="sidebar-overlay"></label>