<div class="login-body">
  <div class="container" [class.active]="modoRegistro">

    <!-- FORMULARIO LOGIN -->
    <div class="form-container sign-in">
      <form>
        <h1>Bienvenido</h1>
        <span>Inicia sesión en tu cuenta</span>
        <input [(ngModel)]="email" name="email" type="email" placeholder="Email" />
        <input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" />
        @if (error()) {
          <p class="error">{{ error() }}</p>
        }
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button type="button" (click)="enviar()">ENTRAR</button>
      </form>
    </div>

    <!-- FORMULARIO REGISTRO -->
    <div class="form-container sign-up">
      <form>
        <h1>Crear cuenta</h1>
        <span>Regístrate con tu email</span>
        <input [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre" />
        <input [(ngModel)]="emailReg" name="emailReg" type="email" placeholder="Email" />
        <input [(ngModel)]="passwordReg" name="passwordReg" type="password" placeholder="Contraseña" />
        @if (error()) {
          <p class="error">{{ error() }}</p>
        }
        <button type="button" (click)="enviar()">REGISTRARSE</button>
      </form>
    </div>

    <!-- PANEL TOGGLE -->
    <div class="toggle-container">
      <div class="toggle">

        <!-- Panel izquierdo (aparece cuando estás en registro) -->
        <div class="toggle-panel toggle-left">
          <h1>¡Bienvenido!</h1>
          <p>¿Ya tienes cuenta? Inicia sesión aquí</p>
          <button class="hidden" type="button" (click)="cambiarModo()">INICIAR SESIÓN</button>
        </div>

        <!-- Panel derecho (aparece cuando estás en login) -->
        <div class="toggle-panel toggle-right">
          <h1>¡Hola!</h1>
          <p>¿No tienes cuenta? Regístrate y gana <strong>50 Tahmkoins</strong></p>
          <button class="hidden" type="button" (click)="cambiarModo()">REGISTRARSE</button>
        </div>

      </div>
    </div>

  </div>
</div>
